// Import Bulma utilities
@import "~bulma/sass/utilities/_all";

// Set theme colors
$primary: #152B42;
$secondary: #C900A9;
$tertiary: #0CEBEB;
$accent: #5A008E;

// Invert for all theme colors
$primary-invert: findColorInvert($primary);
$secondary-invert: findColorInvert($secondary);
$tertiary-invert: findColorInvert($tertiary);
$accent-invert: findColorInvert($accent);

// Add colors to Bulma map
$addColors: (
  "primary": ($primary, $primary-invert),
  "secondary": ($secondary, $secondary-invert),
  "tertiary": ($tertiary, $tertiary-invert),
  "accent": ($accent, $accent-invert)
);
$colors: map-merge($colors, $addColors);

// Navbar
$navbar-item-color: $primary-invert;
$navbar-height: 2rem;
$navbar-background-color: $accent;
$navbar-item-hover-color: $primary;

// Footer colors
$footer-color: $primary-invert;
$footer-background-color: $accent;

// Link colors
$link: $accent;
$link-hover: $primary-invert;

// Text colors
$text: $primary;

// Progress bar
$progress-bar-background-color: $primary;
$progress-value-background-color: $secondary;

// Import Bulma and Buefy
@import "~bulma";
@import "~buefy/src/scss/buefy";
